body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.menu-bar {
    visibility: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    font-size: 1.5rem;
}

.nav-bar {
    text-align: center;
    margin-bottom: 1rem;
    position: sticky;
    padding: 2rem;
    top: 0;
    opacity: .9;
    background: white;
}

.men {
    background-image: url(/images/mens_outerwear.jpg);
}

.lady {
    background-image: url(/images/ladies_outerwear.jpg);
}

.men-t {
    background-image: url(/images/mens_tshirts.jpg);
}

.lady-t {
    background-image: url(/images/ladies_tshirts.jpg);
}

.hero-image {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
   
}

.nav-bar a {
    padding: 1rem;
}

.nav-bar a:active {
    background: gray;
}

.outerwear {
    text-align: center;
    margin-bottom: 3.5rem;
}

.outerwear div a {
    border: 1px solid black;
    padding: .5rem 2.5rem;
}

.outerwear div a:active {
    background-color: black;
    color: white;
}

.outerwear div p {
    margin: 2rem;
}

.t-wear {
    width: 100%;
}

.t-shirt {
    display: flex;
}

footer {
    margin-top: 8rem;
    text-align: center;
}

footer span {
    background: black;
    color: white;
    padding: .5rem;
}

.images-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.image-desp {
    text-align: center;
    width: 32%;
    height: auto;
}
.nav-bar-ladies-outerwear {
    border-bottom: 2px solid black;
}
.nav-bar-ladies-tshirt {
    border-bottom: 2px solid black;
}
.nav-bar-mens-outerwear {
    border-bottom: 2px solid black;
}
.nav-bar-mens-tshirt {
    border-bottom: 2px solid black;
}
.nac-bar-mens-outerwear {
    border-bottom: 2px solid black;
}
/*===============================================*/

.image-view img {
    width: 80%;
}

.product-section {
    display: flex;
    justify-content: space-between;
}

.image-view {
    width: 50%;
    text-align: center;
}

.product-desp {
    width: 50%;
}

.dropdown {
    font-size: 1.1rem;
    border-bottom: 1px solid gray;
    padding: 1.5rem;
    padding-left: 0;
    padding-bottom: 0.1rem;
}

.main-label {
    margin-right: 1.2rem;
}

.main-div {
    border-top: 1px solid gray;
}

.product-desp div {
    margin: 1.5rem;
    margin-left: 0;
}

.dropdown-values {
    font-size: 1.3rem;
    padding: 1rem;
    border: none;
    padding-right: 90%;
}

.product-details p {
    opacity: .6;
}

li {
    opacity: .6;
}

.add-cart {
    padding: .5rem 2rem;
    border: 2px solid black;
    width: 15%;
    position: relative;
    left: 50%;
    text-align: center;
}

.add-cart:active {
    background: black;
    color: white;
}

.back-bar {
    visibility: visible;
}

/*=======================================================*/

.number-items {
    text-align: center;
}

.item-details {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 50%;
    padding-top: 2.5rem;
}

.cart-view {
    display: flex;
    justify-content: center;
}

select {
    border: none;
    font-size: 1.2rem;
    padding-right: 1.2rem;
}

.check-out {
    border: 2px solid black;
    padding: 1rem;
    float: right;
    position: relative;
    top: -35px;
    left: -150px;
}

.product-total {
    display: flex;
}

.check {
    margin: 2rem;
    margin-top: 0;
}

.check-out:active {
    background: gray;
    color: white;
}

.total-bill {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    margin-top: 3rem;
}

.cart-view-image {
    display: flex;
    justify-content: space-between;
}

.cart-view-image div {
    align-self: center;
}

.cross-bar {
    align-self: center;
}

/*====================================================*/

.shop-header {
    margin-bottom: 1rem;
    position: sticky;
    padding: 1rem;
    top: 0;
    opacity: .9;
    background: white;
}
input:focus~.floating-label, input:valid~.floating-label {
    top: 0px;
    left: 0px;
    font-size: 12px;
    opacity: 1;
}

.inputText {
    font-size: 15px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    transition: 0.2s ease all;
    opacity: .5;
}

.float-label {
    position: relative;
    margin-bottom: 1.5rem;
}

.state-code div {
    width: 45%;
}

.state-code {
    display: flex;
    justify-content: space-between;
}

.account-information {
    width: 40%;
}

.payment-information {
    width: 40%;
}

.check-out-information {
    display: flex;
    justify-content: space-evenly;
}

#country-dropdown {
    width: 100%;
}

#check-box {
    width: 20px;
    height: 20px;
}

.card-expiry {
    display: flex;
    justify-content: space-between;
}

.expiry {
    width: 30%;
}

.cvv {
    position: relative;
    top: -20px;
}

#month-dropdown, #year-dropdown {
    width: 100%;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.place-order {
    margin-top: 5rem;
}

.place-order a {
    border: 2px solid black;
    padding: .7rem .5rem;
}

.place-order a:active {
    background: black;
    color: white;
}
.check-out-demo {
    text-align: center;
}

.bar-animation {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 0;
    height: 2px;
    background: black;
    transition: ease all 0.5s;
}

.inputText:focus~.bar-animation {
    width: 100%;
    left: 0;

}

#checked-box {
    display: none;
}

#check-box:checked~#checked-box {
    display: contents;
}
/*====================================================*/

@media only screen and (max-width: 750px) {
    .menu-bar {
        visibility: visible;
    }
    .nav-bar {
        display: none;
    }
    .product-section {
        display: block;
        padding: 2rem;
    }
    .image-view {
        width: 100%;
    }
    .product-desp {
        width: 100%;
    }
    footer {
        display: none;
    }
    .product-desp {
        padding-left: 2rem;
    }
    .image-desp {
        text-align: center;
        width: 50%;
        height: auto;
    }
    .add-cart {
        color: white;
        background: #191970;
        text-align: center;
        width: 100%;
        border: none;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: 1.5rem;
        padding: 2rem 0 2rem 0;
    }
    .add-cart a {
        color: white;
    }
    .check {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        left: 0;
        margin: 0;
        float: none;
        text-align: center;
        background: #191970;
    }
    .check-out {
        border: none;
        color: white;
        position: relative;
        bottom: 0;
        top: unset;
        left: -40%;
    }
    .cart-view {
        display: block;
        position: relative;
    }
    .cart-view-image {
        justify-content: flex-start;
    }
    .item-details {
        position: absolute;
        top: 30px;
        right: 0;
    }
    .cross-bar {
        position: absolute;
        top: 35px;
        right: 20px;
    }
    .check-out-information {
        display: block;
        margin: 0 10%;
    }
    .account-information, .payment-information {
        width: 100%;
    }
    .place-order {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #191970;
        text-align: center;
        padding: 1.5rem;
    }
    .place-order a {
        border: none;
        color: white;
        padding: 0;
    }
    .mobile-mode-wear {
        display: none;
    }
}

@media only screen and (max-width:1060px) and (min-width:750px) {
    .check-out {
        left: -50px;
    }
}